/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.the_content {
	font-size: 16px;
}

.the_content .has-drop-cap {
	margin-bottom: 50px;
}

.the_content h1 {
	color: #020817;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
}

.the_content h2,
.the_content h3,
.the_content h4,
.the_content h5,
.the_content h6 {
	color: #3b3663;
	font-weight: bold;
	margin-bottom: 1rem;
}

.the_content h6 {
	font-size: 16px;
}

.the_content h5 {
	font-size: 18px;
}

.the_content h4 {
	font-size: 22px;
}

.the_content h3 {
	font-size: 25px;
}

.the_content h2 {
	font-size: 27px;
	line-height: 1.5;
}

.the_content p {
	font-size: 14px;
	line-height: 36px;
	font-weight: 500;
}

.the_content ul {
	list-style: disc;
	padding-left: 18px;
	padding-bottom: 5px;
}

.the_content ul li {
	color: #333;
	line-height: 1.5;
	margin-bottom: 10px;
	font-size: 16px;
}

.the_content ul li a {
	color: #ff5912;
}

.the_content a {
	color: #6254e7;
}

.the_content ol {
	list-style: decimal;
	padding-left: 18px;
	padding-bottom: 5px;
}

.the_content ol li {
	color: #666;
	line-height: 1.5;
	margin-bottom: 10px;
}

.the_content ol li a {
	color: #ff5912;
}

.the_content blockquote {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	margin: 0 0 20px;
	border-left: 4px solid #720000;
}

.the_content blockquote p {
	margin: 0 !important;
}

pre.wp-block-code {
	margin-bottom: 30px;
}

.the_content table:not(.shop_table) > tbody > tr > td,
.the_content table:not(.shop_table) > tbody > tr > th,
.the_content table:not(.shop_table) > tfoot > tr > td,
.the_content table:not(.shop_table) > tfoot > tr > th,
.the_content table:not(.shop_table) > thead > tr > td,
.the_content table:not(.shop_table) > thead > tr > th {
	border: 1px solid #ddd;
	padding: 7px 10px;
}

.the_content iframe {
	margin: auto;
}

.the_content .syntaxhighlighter {
	padding: 10px 15px;
}

.the_content figure figcaption {
	text-align: center;
}

.the_content span {
	font-size: 12px;
	line-height: 16px;
	color: #8c98b0;
	font-weight: 400;
}

.the_content b {
	color: #020817;
}

.the_content img {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	object-fit: cover;
}

.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
	text-align: center;
}

.flickity-button {
	width: 30px;
	height: 30px;
	color: #095ac0;
	background: white;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);
}

.flickity-prev-next-button.next {
	right: -5px;
}
.flickity-prev-next-button.previous {
	left: -5px;
}

.flickity-page-dots .dot.is-selected {
	background-color: #007aff;
}

.flickity-page-dots .dot {
	opacity: 1;
	background-color: white;
}

@media not all and (min-width: 640px) {
	.the_content h1 {
		font-size: 15px;
		line-height: 21px;
	}
	.the_content p {
		font-size: 12px;
		line-height: 27px;
	}
	.the_content img {
		border-radius: 0px;
	}
	.flickity-button {
		display: none;
	}
}
